@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar p{
  display: inline;
  padding: 50px;
}

.navbar h3{
  display: inline;
  padding: 50px;
}

.footer p, link{
  padding: 20px;
  display: inline-flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-top: 1px solid #f2f2f2;
}


.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 800px;
  margin: 40px auto;
}

.article-preview h2 {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  font-size: 20px;
}

.article-preview h2:hover {
  color: #f1356d;
}

.ArticleSite h1,h2, p{
  text-align: center;
  padding: 10px;
}


.article-preview a{
  text-decoration: none;
}

.add-article h2{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.add-article input, .add-article textarea, .add-comment input, .add-comment textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.admin, .input-container {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0px;
  box-sizing: border-box;
  display: block;
}

.button-container {
  border: 0;
  padding: 8px;
  border-radius: 8px;
}


.add-article button, .add-comment button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
}

.article-delete button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  margin-top: 20px;
  margin-left: 20px;
}
.add-comment h3 {
  padding: 20px;
}

.comment-list h1{
  padding: 5px;
}

.comment-list h2{
  padding: 5px;
}

.comment-list p{
  padding: 5px;
}

.comment-preview {
  padding: 10px;
  border: 1px solid rgb(216, 206, 206);
  text-align: center;
}


.account-articles h1{
  display: table;
  padding: 5px;
}

.account-articles h2{
  display: table;
  padding: 5px;
}

.account-articles p{
  display: table;
  padding: 5px;
}

.account-comments p {
  display: table;
}

.account-comments h2 {
  display: table;
}

.comment-counter, .article-counter {
  padding: 20px;
  text-align: center;
}

